---
layout: ""
page_title: "Provider: azresourcegraph"
description: |-
  The azresourcegraph provider allows you to query Azure Resource Graph.
---

# azresourcegraph Provider

> This provider is maintained at `nikhil-pandey/terraform-provider-azresourcegraph` as a fork of the original `tiwood` provider.

This provider allows you to query [Azure Resource Graph](https://learn.microsoft.com/azure/governance/resource-graph/overview)
and use the results together with other `Terraform` providers.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
